*, *:before, *:after {
	@include box-sizing(border-box);
	outline-color: $brand-color;

}


body {
	font-family: $base-font-family;
	font-weight: $font-weight-regular;
    line-height: $base-line-height;
    background: $base-background;
    word-wrap: break-word;
}

a {
	&:hover {
		text-decoration: none;
	}
}

ul, ol {
	margin: 0;	
	padding: 0;
	list-style: none;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}